@page "/counter"
@using MMR_Tracker_V3;

<h1>Counter</h1>

<p role="status">@currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
	private string currentCount = "No Data";

	private MMR_Tracker_V3.TrackerObjects.MiscData.InstanceContainer InstanceContainer = new MMR_Tracker_V3.TrackerObjects.MiscData.InstanceContainer();
	private TrackerDataHandeling.DataSets DataSets = new();

	private void IncrementCount()
	{
		System.Net.WebClient wc = new System.Net.WebClient();
		var Logic = wc.DownloadString("https://raw.githubusercontent.com/ZoeyZolotova/mm-rando/dev/MMR.Randomizer/Resources/REQ_CASUAL.txt");

		var DevCode = MMR_Tracker_V3.References.TestingPaths.GetDevCodePath();
		var Dictionary = Path.Combine(DevCode, "MMR Tracker V3", "Recources", "Dictionaries", "MMR V11.json");

		System.Diagnostics.Debug.WriteLine(Dictionary);
		System.Diagnostics.Debug.WriteLine(File.Exists(Dictionary));

		InstanceContainer.Instance.GenerateInstance(Logic, File.ReadAllText(Dictionary));

		InstanceContainer.logicCalculation.CalculateLogic();

		DataSets = MMR_Tracker_V3.TrackerDataHandeling.PopulateDataSets(InstanceContainer.Instance);

		currentCount = "";
		foreach (var i in DataSets.AvailableLocations)
		{
			currentCount = currentCount + Utility.GetLocationDisplayName(i, InstanceContainer.Instance) + Environment.NewLine;
		}
	}
}
